@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[75%] md:text-[100%];
}

:focus {
  @apply outline-transparent;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply dark:bg-gray-900 dark:text-gray-100 bg-gray-200 text-gray-900;
}

body,
input,
textarea,
button {
  @apply font-sans font-normal text-[1rem];
}
